screencast-editor {
  background: var(--editor-background);
  color: var(--editor-color);
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  
  .tabBar {
    background: color-mix(in oklch, var(--editor-background), var(--editor-color) 10%);
    padding: var(--window-padding);
    padding-bottom: 0;
    
    .tab {
      background: var(--editor-background);
      color: color-mix(in oklch, var(--editor-color), var(--editor-background) 10%);
      display: inline-block;
      padding: 0.5rem 1rem;
    } 
  }

  .editor {
    font-family: var(--editor-font-family);
    padding: var(--window-padding);

    pre {
      margin: 0;
    }
  }

  screencast-terminal {
    border-top: 1px solid color-mix(in oklch, var(--editor-background), white 25%);
  }
}
