@font-face {
  font-display: fallback;
  font-family: "Anime Ace";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/animeace.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Anime Ace";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/animeace_i.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Anime Ace";
  font-style: bold;
  font-weight: 700;
  src: url("/assets/fonts/animeace_b.ttf");
}

screencast-panel {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;

  .panel {
    aspect-ratio: 4 / 3;
    border: 3px solid #333;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: 90svh;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    scroll-snap-align: center;
  }

  p {
    margin: 0;
    width: 100%;
  }
  
  .icon {
    height: 64px;
    object-fit: contain;
    width: 64px;
  }

  .caption,
  .footnote {
    font-family: "Anime Ace", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .caption {
    align-items: center;
    background: white;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    padding: 1rem 0.5rem;
  }

  /* Icon/caption are flipped for second speaker */
  &[data-speaker="Bob"] .caption {
    flex-direction: row-reverse;
  }

  /* Hide consecutive icons for the same speaker */
  &[data-speaker="Alice"] + &[data-speaker="Alice"],
  &[data-speaker="Bob"] + &[data-speaker="Bob"] {
    .icon {
      display: none;
    }

    .caption {
      flex-direction: row;
    }
  }

  .footnote {
    bottom: 0.5em;
    display: flex;
    flex-direction: row-reverse;
    left: 0.5em;
    position: absolute;
    right: 0.5em;

    p {
      background: palegoldenrod;
      padding: 0.5em;
      text-wrap: balance;
      width: fit-content;
    }
  }
}


/* On narrow screens, use a taller aspect ratio */
@container (max-width: 500px) {
  screencast-panel {
    .panel {
      aspect-ratio: 0.66;
    }
  }  
}
