@font-face {
  font-family: "Anime Ace 3";
  src: url("/assets/fonts/AnimeAce3BB-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* 
@font-face {
  font-family: "Anime Ace 3";
  src: url("/assets/fonts/AnimeAce3BB-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
} */
 
@font-face {
  font-family: "Anime Ace 3";
  src: url("/assets/fonts/AnimeAce3BB-Italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Anime Ace 3";
  src: url("/assets/fonts/AnimeAce3BB-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}


screencast-panel {
  --border: 3px solid #333;
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;

  .panel {
    aspect-ratio: 4 / 3;
    border: var(--border);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: 90svh;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    scroll-snap-align: center;
  }

  p {
    margin: 0;
    width: 100%;
  }
  
  .icon {
    height: 64px;
    object-fit: contain;
    width: 64px;
  }

  .caption,
  .footnote {
    font-family: "Anime Ace 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.1;
  }

  .caption {
    align-items: center;
    background: white;
    border-bottom: var(--border);
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    padding: 1rem 0.5rem;

    /* strong = bold and italic */
    strong {
      font-style: italic;
    }
  }

  /* Icon/caption are flipped for second speaker */
  &[data-speaker="Bob"] .caption {
    flex-direction: row-reverse;
  }

  /* Hide consecutive icons for the same speaker */
  &[data-speaker="Alice"] + &[data-speaker="Alice"],
  &[data-speaker="Bob"] + &[data-speaker="Bob"] {
    .caption {
      flex-direction: row;

      .icon {
        display: none;
      }
    }
  }

  .footnote {
    bottom: 0.5em;
    display: flex;
    flex-direction: row-reverse;
    font-style: italic;
    left: 0.5em;
    position: absolute;
    right: 0.5em;
    
    p {
      background: palegoldenrod;
      padding: 0.5em;
      text-wrap: balance;
      min-width: 300px;
      width: min-content;
      /* width: fit-content; */
    }
  }
}


/* On narrow screens, use a taller aspect ratio */
@container (max-width: 500px) {
  screencast-panel {
    .panel {
      aspect-ratio: 0.66;
    }
  }  
}
