screencast-terminal {
  background: #1d2225;
  color: white;
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  grid-template-rows: auto 1fr;
  padding: 0.5rem;

  .prompt {
    color: #FAC863;
    font-weight: bold;
  }

  .command {
    display: inline-block;
    font-weight: bold;
    overflow: clip;
    text-wrap: nowrap;
  }

  pre {
    font-family: inherit;
    margin: 0;
    overflow: hidden;
  }
}
