html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

body {
  --editor-background: #1d2225;
  --editor-color: white;
  --editor-font-family: 'Courier New', Courier, monospace;
  --window-padding: 0.5rem;

  margin: 0;
  padding: 0;
}
