---
(comic) => @template()
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Origami Comics</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/code.css" />
    <link rel="stylesheet" href="/components.css" />
    <script type="importmap">
      {
        "imports": {
          "@preact/signals-core": "/preact/signals-core.module.js"
        }
      }
    </script>
    <script src="howler.js"></script>
    <script type="module" src="index.js"></script>
  </head>
  <body>
    <screencast-comic autofocus tabindex="0">
${ map(comic/screenplay.yaml, (panel, key) => panel.ori.html(comic, panel, key)) }
    </screencast-comic>
  </body>
</html>
