<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Origami Comics</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/code.css" />

    ${ /* Link to all stylesheets */
      map(client/ui, {
        extension: ".css"
        value: (value, key) => indent`
          <link rel="stylesheet" href="/ui/${ key }">
        `
      })
    }

    <script type="importmap">
      {
        "imports": {
          "@preact/signals-core": "/preact/signals-core.module.js"
        }
      }
    </script>

    <script src="./howler.js"></script>
    <script type="module" src="./main.js"></script>
    
  </head>
  <body>
    <screencast-comic autofocus tabindex="0">
${ map(_, panel.ori.html) }
    </screencast-comic>
  </body>
</html>
